{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <div class="uploader center">
        <h1>Upload your work Plan, to add it to your Calendar</h1>
        <div class="file-selection align-left">
            <p>chose your plan to upload:</p>
            <form method="POST" action="" enctype="multipart/form-data">
                {% for calendar in calendars %}
                    <input type="radio" id="{{ calendar.id }}" name="calendar" value="{{ calendar }}">
                    <label for="{{ calendar.id }}">{{ calendar.summary }}</label><br>
                {% endfor %}
                <p><input type="file" name="work_plan" accept="application/pdf"></p>
                <p><input type="submit" value="Submit"></p>
            </form>
        </div>
    </div>
{% endblock %}